{% extends "base.html" %}
{% load i18n %}
{% load assets %}
{% load staticfiles %}
{% load jstemplate %}

{% block content %}
<div id="current-page"></div>
{% endblock content %}

{% block post_footer %}
<script>
(function () {
    Aptivate = { data: {{ data|safe }} };
})();
</script>
{% endblock post_footer %}

<!-- Empty out the footer srip  -->
{% block post_script %}
<script src="/static/elm/dashboard.js" ></script>
<script>
  var node = document.getElementById('current-page');
  var app = Elm.Dashboard.embed(node, Aptivate.data)
</script>
{% endblock %}
